.personal{
    overflow: hidden;
    position: relative;
}
/*.bgimg{
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */
body{
    background-color: lightblue;
    padding: auto;
}
.content{
    position: relative;
}
.intro {
    text-decoration: underline;
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}
.content img{
    display: block;
    padding-left: auto;
    padding-right: auto;
}
hr{
    background-color: black;
    height: 2px;
    border-color: white;
}
.contentx{
    display: inline-block;
    text-align: left;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    text-align: center;
}
img{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 60px;
    font-size: 18px;
}
a:visited{
    color: blue;
}
a:active{
    color: blue;
}
a:hover{
    color: lightcoral;
}
